# macOS
.DS_Store

# Node/Vue
frontend/node_modules/
frontend/dist/
frontend/.env

# Python/Flask
backend/.venv/
backend/__pycache__/
*.pyc
instance/
*.sqlite3
backend/.env

# Logs
*.log

# IDE / Editor
.vscode/
.idea/

